body {background-color: #cccccc; 
      font-family: Helvetica, Arial, sans-serif;}

h1,h2,h3,h4,h5,h6 {font-family: Georgia, serif;}

p,li {line-height: 1.25em;}

p>em {font-weight: bold;}

<!--It works, but it is not needed. Remember you can only have one id with the value of nav on a page, so you don't need the ul. #nav is enough.-->
ul#nav {background-color: #dddddd;}

a {color: #008b14;}
a:link {color: #008b14;}
a:visited {color: #649a00;}
a:hover {color: #00638b;}
a:active {color: #008b14;}
a:focus {color: #00638b;}

table, tr, th, td {border:1px solid black;}

th, td {padding: 4px;}
